# Auto detect text files and perform LF normalization
* text=eol=lf

*.dm text eol=lf
*.dmm text eol=lf
*.dme text eol=lf
*.png binary
*.jpg binary
*.dmi binary
*.psd binary
*.png filter=lfs diff=lfs merge=lfs -text
*.dmi filter=lfs diff=lfs merge=lfs -text
*.dmm filter=lfs diff=lfs merge=lfs -text
